@import './utilities/color';

.grid-system {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  background: $bg-light;
}

.loading-screen {
  cursor: pointer;
  grid-column: 1 / 13;
  grid-row: 5 / 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    position: relative;
    margin-top: 20px;
  }
  h1::before {
    content: '';
    position: absolute;
    height: 1px;
    background-color: hsl(0, 100%, 0%);
    width: 100%;
    bottom: -2px;
    box-shadow: 0px 2px 5px black;
  }
}
.Header {
  grid-column: 1/13;
  grid-row: 1/3;
  margin: 10px 10px 0 10px;

  display: flex;
  .logo {
    flex-grow: 1;
    cursor: pointer;
  }
  .logo > * {
    height: 48px;
    width: 48px;
  }
  img {
    cursor: pointer;
  }
}
.label {
  grid-row: 5/6;
  grid-column: 3/6;
  height: 50%;
  margin-top: 40%;
}
input {
  grid-column: 1 / 13;
  grid-row: 6 / 7;
  border-radius: 40px;
  background-color: rgba(0000, 0, 0, 0.4);
  border-style: none;
  text-transform: uppercase;
  margin: 0px 30px 0px 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  &:focus {
    outline: none;
    border: 1px solid white;
  }
}

.btn-search {
  grid-column: 1 / 13;
  grid-row: 11 / 12;
  border-radius: 40px;
  border-style: none;
  color: black;
  margin: 0px 20px 0px 20px;
  font-size: 20px;
  cursor: pointer;
}

.weather-type {
  grid-column: 1 / 13;
  grid-row: 4/4;
  text-align: center;
}
.flex {
  grid-column: 1 / 13;
  grid-row: 5/5;
  display: flex;
  justify-content: center;
}
.degree {
  grid-column: 1/ 13;
  grid-row: 6/6;
  text-align: center;
}

.city-time {
  grid-column: 1 / 13;
  grid-row: 7 / 7;
  text-align: center;
}

.forecast {
  grid-column: 1 / 13;
  grid-row: 9 /13;
  list-style-type: none;
  padding: 0px;
  li {
    margin-top: 10px;
  }
}

.small-img {
  max-width: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;

  p {
    margin-left: 2rem;
  }
  h4 {
    margin-left: 2rem;
  }
}
